/* Generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
}

.container {
    width: 900px;
    height: 1080px;
    background-color: #FFF;
    margin: 50px auto;
}

#list-container {
    padding: 42px;
}

ul {
    list-style-type: none;
}

/* Utils */

hr {
    border: 1px solid #F3F3F3;
}

.bg-blue {
    background-color: #1394fd;
    border-color:#1394fd ;
}

#bg-white {
    background-color: #FFF;
    color: grey;
    border: 1px solid #DADADA;

}

.white-text {
    color: white;
}

.check {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.check-green {
    color: green;
    font-size: small;
    text-align: center;
    line-height: 15px;
    border: 1px solid green;
}

.down {
    font-size: small;
}

/* Header */

header {
    height: 60px;
    background-color: #FFF;
    padding: 4px 15px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 40px;
}

#logo {
    vertical-align: middle;
}

/* Buttons */

#button-set {
    height: 60px;
}

#button-layout {
    height: 32px;
    padding: 14px 42px;

}

.button {
    padding: 5px 8px;
    border-radius: 7px;
}

/* List */

.label {
    height: 27px;
    width: 68px;
    font-size: 11px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border-radius: 10px;
}

h3{
    font-family: sans-serif;
    font-weight: 700;
}